// Header

@use '@sass/variables' as var;
@use '@sass/breakpoints' as bp;

main:not(.home) .header {
  border-bottom: 1px solid var.$color-dark-shade;
}

.header__site-title {
  font-family: var.$font-header;
}
