// Global

@use './01-helpers/variables' as var;
@use './01-helpers/breakpoints' as bp;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

html,
body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var.$font-main;
}

h1 {
  margin-top: .5rem;
  margin-bottom: 0;
  font-family: var.$font-main;
  font-size: 1.75rem;
  font-weight: 700;

  @include bp.media-breakpoint-up(md) {
    font-size: 2.25rem;
  }

  @include bp.media-breakpoint-up(lg) {
    font-size: 2.75rem;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;

  @include bp.media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include bp.media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.125rem;

  @include bp.media-breakpoint-up(md) {
    font-size: 1.25rem;
  }

  @include bp.media-breakpoint-up(lg) {
    font-size: 1.75rem;
  }
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  font-size: 1rem;
  line-height: 1.5;

  @include bp.media-breakpoint-up(md) {
    font-size: 1.125rem;
  }

  @include bp.media-breakpoint-up(lg) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding-inline: 6px;
}

pre {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  color: var.$color-white;
}

ul {
  list-style-type: none;
}

main {
  padding-top: 4.37rem;
  background-color: var.$color-light-gray;
}

main:not(.main--index) {
  border-top: 3px solid var.$color-dark-shade;
}

// dividers
.divider-h {
  width: 100%;
  height: 1px;
  background-color: var.$color-black;

  &--bold {
    height: 2px;
  }
}

.divider-v {
  width: 1px;
  height: auto;
  background-color: var.$color-black;

  &--bold {
    width: 3px;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp--1 {
  -webkit-line-clamp: 1;
}

.line-clamp--2 {
  -webkit-line-clamp: 2;
}

.line-clamp--3 {
  -webkit-line-clamp: 3;
}