@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope-v20-latin-300.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope-v20-latin-500.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope-v20-latin-600.woff2);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope-v20-latin-700.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope-v20-latin-regular.woff2);
  font-weight: 400; /* Regular is typically 400 */
  font-style: normal;
}

@import "tailwindcss";
@import "./assets/scss/global.css";

@theme inline {
  /* font */
  --font-manrope: "Manrope", Helvetica, Arial, sans-serif;
  --font-cursive: "Courgette", cursive;

  /* font-size */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1.125rem; /* 18px */
  --text-base: clamp(1rem, 0.734vw + 0.839rem, 1.5rem); /* 16px to 24px */
  --text-lg: clamp(1.125rem, 1.17rem + 1vw, 2rem); /* 16px to 32px */
  --text-xl: clamp(1.62rem, 1.141rem + 2.2vw, 3.12rem); /* 25px to 50px */

  /* Colors */
  --color-primary: #ca3916;
  --color-primary-dark: #a22e12;
  --color-primary-light: #ea4335;
  --color-secondary: #e5e5ea;
  --color-tertiary: #faebe8;
  --color-dark-brown: #361d14;
  --color-light-gray: #e3e6ef;
  --color-green: #46544a;
  --color-mustard: #dd9243;
  --color-dark-shade: #2a2b2d;
  --color-light-shade: #6a6f6f;
  --color-light: #f2f2f7;
  --color-dark: #262626;

  /* Breakpoint */
  /* --breakpoint-*: initial; */
  --breakpoint-1xl: 90rem; /* 1440px */

  /* container */
  --container-center: true;
  --container-padding: 1rem;

  --container-8xl: 1440px;

  /* Headers */
  --text-h2:                            
;
}
