# General ignores
**/*node_modules
**/*DS_Store
**/*.pem
**/*.netlify


# Client ignores
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*
/client/dist
/client/dist-ssr
/client/*.local

# Server ignores
/server/*.pem
/server/certs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
**/*.env

# Local Netlify folder
.netlify
