@use '../../../assets/scss/01-helpers/variables' as var;
@use '../../../assets/scss/01-helpers/breakpoints' as bp;


.page-hero--half-mask {

  &::before {
    content: " ";
    width: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include bp.media-breakpoint-up(sm) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0) 35%
      );
    }

    @include bp.media-breakpoint-up(lg) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.8) 30%,
        rgba(0, 0, 0, 0) 40%
      );
    }

  }
}

.page-hero--mask {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.page-hero__container > * {
  z-index: 1;
}

.page-hero__container--base {

}

// .page-hero__content {
//   bottom: 15%;
//   left: 0;
//   padding: 0 1rem;
// }




.page-hero__title {
  margin: 0 0 1.5rem;
  color: var.$color-white;
  font-family: var.$font-main;
}

.page-hero__copy {
  margin: 0 0 1.5rem;
}
