//  nav

@use "@sass/variables" as var;
@use "@sass/breakpoints" as bp;

.open .nav-mobile {
  width: 100%;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 100;
  transition: 0.2s;
  overflow-x: hidden;
  text-align: center;

  @include bp.media-breakpoint-up(md) {
    display: none;
  }
}

.nav-mobile__list {
  padding: 4rem 1rem 2rem;
}

.nav-mobile--remove-border {
  border: none;
}

// desktop nav

.nav-desktop__list {
  align-items: center;
  list-style-type: none;
  color: var.$color-secondary;
  margin: 0;
  padding-inline-start: 0;
}

.nav-desktop__item {
  margin: 0 1rem;
}

.nav-desktop__link {
  color: var.$color-black;
}

// -- modifier --

.nav-desktop--flex {
  display: flex;
  justify-content: flex-end;
}

.nav__list-item {
  margin: 0 1rem;
}

.nav__list-link {
  color: var.$color-black;
}
