// Mixins
@use "./variables" as var;
@use "sass:map";

// functions
@function breakpoint-min($name, $breakpoints: var.$breakpoints) {
  $min: map.get($breakpoints, $name);
  @if $min != 0 {
    @return $min;
  }
  @return null;
}

// media queries
@mixin media-breakpoint-up($name, $breakpoints: var.$breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
