// Global

@use "./variables" as var;
@use "./breakpoints" as bp;

html {
  color: var(--color-dark);
  font-family: var(--font-manrope);
}

pre {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  color: var.$color-white;
}

ul {
  list-style-type: none;
}

// dividers
.divider-h {
  width: 100%;
  height: 1px;
  background-color: var.$color-black;

  &--bold {
    height: 2px;
  }
}

.divider-v {
  width: 1px;
  height: auto;
  background-color: var.$color-black;

  &--bold {
    width: 3px;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp--1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp--2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp--3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

@layer base {
  h2 {
    font-size: var(--text-lg);
    line-height: 1.2;
    font-weight: var(--font-weight-normal);
  }

  h3 {
    font-size: var(--text-sm);
    line-height: 1.2;
  }

  p {
    font-size: var(--text-sm);
    line-height: 1.5;
    font-weight: var(--font-weight-normal);
  }

  a {
    font-size: var(--text-sm);
  }
}
