@use "@sass/variables" as var;
@use "@sass/breakpoints" as bp;

.page-hero--half-mask {
  &::before {
    content: " ";
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include bp.media-breakpoint-up(sm) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0) 35%
      );
    }

    @include bp.media-breakpoint-up(lg) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.8) 30%,
        rgba(0, 0, 0, 0) 40%
      );
    }
  }
}

.page-hero--mask {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.page-hero__container > * {
  z-index: 1;
}
