// button

@use "@sass/variables" as var;
@use "@sass/breakpoints" as bp;

.btn {
  min-width: 100px;
  padding: 1rem 0.8rem;
  border: none;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-family: var.$font-main;
  text-decoration: none;
  color: var.$color-white;
  text-align: center;

  &:hover {
    // background-color: var.$color-secondary;
    // color: var.$color-black;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

// btn colors
@each $color, $value in var.$colors {
  .btn--#{$color} {
    background-color: $value;
  }

  @if $color == "secondary" {
    .btn--#{$color}:hover {
      background-color: $value;
      color: var.$color-white;
    }
  }
}

@each $color, $value in var.$colors {
  @if $color == "white" {
    .btn--outline-#{$color} {
      color: $value;
      background-color: unset;
      border: 1px $value solid;

      &:hover {
        background-color: $value;
        color: var.$color-black;
      }
    }
  } @else {
    .btn--outline-#{$color} {
      color: $value;
      background-color: unset;
      border: 1px $value solid;

      &:hover {
        background-color: $value;
        color: var.$color-white;
      }
    }
  }
}

// btn sizes
.btn--small {
  @include bp.media-breakpoint-up(md) {
    padding: 0.875rem;
    font-size: 1.125rem;
  }
}

.btn--medium {
  font-size: 1rem;
  padding: 0.75rem;

  @include bp.media-breakpoint-up(md) {
    padding: 1.125rem 1.25rem;
    font-size: 1.25rem;
  }
}

.btn--large {
  padding: 1rem;
  font-size: 1.125rem;
  @include bp.media-breakpoint-up(md) {
    padding: 1.25rem 1.5rem;
    font-size: 1.375rem;
  }
}

// btn types
.btn--set-page {
  min-width: 55px;
  padding: unset;

  @include bp.media-breakpoint-up(md) {
    padding: 1rem;
    color: var.$color-white;
    background-color: unset;
    border: 1px var.$color-white solid;

    &:hover {
      background-color: var.$color-white;
      color: var.$color-black;
    }
  }
}

.btn--page-header {
  font-size: 0.875rem;

  @include bp.media-breakpoint-up(xs) {
    padding: 1rem;
  }

  @include bp.media-breakpoint-up(md) {
    padding: 0.75rem;
  }

  @include bp.media-breakpoint-up(lg) {
    padding: 1rem;
    font-size: 1rem;
  }
}

.btn--test {
  @apply rounded bg-blue-500 px-4 py-2 text-white;
}
